html{
    background-color: #171717;
}
body{
    margin: auto;
}
.bar__nocto{
    text-align: center;
    width: 100%;
    background-color: burlywood;
    height: 200px;
}

.bar__email{
    font-size: 30px;
    background-color: blue;
    text-align: center;
}

.bar__social__media{
    background-color: #171717;
    text-align: center;
    font-size: 50px;
}
.bar__copyright{
    text-align: center;
    background-color: blueviolet;
    font-size: 20px;
} 

.bar__beststars{
    text-align: center;
    background-color: chartreuse;
    height: 1000px;
}

iframe{
    padding: 100px;
}