html{
    background-color: #171717;
}
body{
    margin: auto;
}

.tlo{
    background-image: url(img/tlo.png);
    height: 1800px;
}

.bar__nocto{
    text-align: center;
    padding: 80px 0 0 0;
}

.bar__email{
    font-size: 30px;
    background-color: gray;
    text-align: center;
}

.bar__social__media{
    background-color: #171717;
    text-align: center;
    font-size: 50px;
}
.bar__copyright{
    text-align: center;
    background-color: white;
    font-size: 20px;
} 

.bar__beststars{
    text-align: center;
    position: relative;
    height: 800px;
    padding: 0 0 0 0;
}

iframe{
    padding: 100px 0 0 0;
}