
.icon-facebook-circled-1:before { content: '\e800'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-soundcloud:before { content: '\f348'; } /* '' */